<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div>
        <li>
            <a href="/">Submit Csv file</a>
            <a href="/allentries">Check All Entries</a>
            <a href="/isDelivered">Change Delivery status</a>
            <a href="/isReturned">Return Goods</a>
        </li>
    </div>